.change{
    box-shadow: 5px 10px #888888;
    animation-name: ani;
    animation-duration: 5s;
    animation-fill-mode: backwards;
}


@keyframes ani {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
  }